@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  font-family: "Oswald",sans-serif; }

html {
  min-height: 100%;
  position: relative; }

body {
  margin: 0;
  margin-bottom: 90px;
  padding: 0; }

header {
  display: contents; }

.navbar-custom {
  flex-grow: 0.2;
  justify-content: center;
  flex-basis: 100%;
  display: flex;
  justify-content: left; }

.navbar-menu-custom {
  text-align: right; }

@media (max-width: 758px) {
  .navbar-custom {
    justify-content: right; } }

#contacto {
  background-color: #444444;
  color: #fff; }

#capacitacion {
  background-color: #444444;
  color: #fff; }

#consultoria {
  background-color: #444444;
  color: #fff; }

#seg-ind {
  background-color: #444444;
  color: #fff; }

#inicio {
  background-color: #444444;
  color: #fff; }

#topbar {
  height: 40px;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #444444;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: left; }
  #topbar .topbar-element {
    margin: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row; }
    #topbar .topbar-element a {
      color: #fff;
      text-decoration: none;
      padding-left: 10px; }

@media (max-width: 758px) {
  #topbar {
    height: 80px;
    flex-direction: column; } }

footer {
  height: 80px;
  width: 100%;
  padding: 0;
  color: #fff;
  font-size: 14px;
  background: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  z-index: 200; }
  footer #company {
    margin: 0;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  footer #hys {
    margin: 0px;
    padding-bottom: 2%; }
  footer #since {
    margin: 0px;
    font-style: italic;
    font-size: medium; }
  footer .arrow_upward {
    margin: 0;
    height: 80px;
    width: 48px;
    font-size: 48px; }
  footer div a.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 48;
    font-size: 48;
    padding-top: 10;
    text-decoration: none;
    color: #fff; }
  footer .aux {
    margin: 0;
    height: 80px;
    width: 48px;
    color: #222222; }

main {
  margin: 0;
  padding: 0;
  background: #e1e7e6; }
  main .carousel-stilo {
    max-height: 680px;
    overflow: hidden; }
  main .carousel-item {
    text-align: center; }
  main .carousel-caption-custom {
    bottom: 20vw; }
  main .hero-vmg-inicio {
    margin: 0;
    padding: 0;
    color: #444444;
    background-color: none;
    font-size: 50px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  main .hero-div-inicio {
    margin: 0;
    padding: 0;
    color: #444444;
    background-color: none;
    font-size: 20px;
    text-align: left; }
  main .grilla {
    display: grid;
    grid-template-areas: "presentacion-somos presentacion-somos" "presentacion-foto-actividades hacemos";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    transition: all 500ms; }
    main .grilla .presentacion-foto-actividades {
      grid-area: presentacion-foto-actividades;
      margin: 0 0 0 20px; }
    main .grilla img {
      max-height: 100%;
      object-fit: cover;
      overflow: hidden; }
    main .grilla .presentacion-somos {
      grid-area: presentacion-somos;
      margin: 20px;
      padding: 20px;
      color: #212529;
      background-color: none;
      font-size: 18px;
      border: #222222;
      border-radius: 8px;
      border-style: solid;
      transition: all 500ms; }
      main .grilla .presentacion-somos:hover {
        font-size: 24px;
        box-shadow: 10px 10px #222222;
        background-color: #dfeef9; }
    main .grilla .sobre-nosotros {
      font-weight: bold; }
    main .grilla .hacemos {
      grid-area: hacemos;
      margin: 0 20px 0 0;
      border: #222222;
      border-radius: 8px;
      border-style: solid;
      padding: 10px 20px 20px 20px;
      font-size: 18px;
      transition: all 500ms; }
      main .grilla .hacemos:hover {
        font-size: 24px;
        box-shadow: 10px 10px #222222;
        background-color: #dfeef9; }
    main .grilla .presentacion {
      margin: 0;
      padding: 0;
      height: 520px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      main .grilla .presentacion .presentacion__foto-actividades {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 350px; }
        main .grilla .presentacion .presentacion__foto-actividades img {
          margin: 20px;
          width: 50%; }
        main .grilla .presentacion .presentacion__foto-actividades p {
          margin: 20px;
          padding: 20px;
          width: 50%;
          border: #222222;
          border-radius: 0px;
          border-style: solid; }

@media (max-width: 758px) {
  main .carousel-stilo {
    max-height: 320px; }
  main .grilla {
    display: grid;
    grid-template-areas: "presentacion-somos" "presentacion-foto-actividades" "hacemos";
    grid-template-columns: 100%;
    grid-template-rows: auto 200px auto; }
    main .grilla .presentacion-foto-actividades {
      margin: 10px 20px 10px 20px; }
    main .grilla .presentacion-somos:hover {
      font-size: 18px;
      box-shadow: 10px 10px #222222;
      background-color: #dfeef9; }
    main .grilla .hacemos {
      margin: 20px;
      padding: 20px;
      border: #222222;
      border-radius: 8px;
      border-style: solid;
      font-size: 18px;
      transition: all 500ms; }
      main .grilla .hacemos:hover {
        font-size: 18px;
        box-shadow: 10px 10px #222222;
        background-color: #dfeef9; } }

@media (min-width: 1280px) {
  .carousel-stilo {
    max-height: 780px; }
  .presentacion-somos:hover {
    font-size: 26px;
    box-shadow: 10px 10px #222222;
    background-color: #dfeef9; }
  .hacemos {
    margin: 0 20px 0 0;
    padding: 20px;
    font-size: 22px;
    border: #222222;
    border-radius: 8px;
    border-style: solid;
    transition: all 500ms; }
    .hacemos:hover {
      font-size: 26px;
      box-shadow: 10px 10px #222222;
      background-color: #dfeef9; } }

#seg-industrial {
  margin: 0;
  padding: 0;
  background: #e1e7e6; }

.hero-seg {
  width: 100%;
  background: url(../imagenes/oficina.bmp) top left;
  background-image: url(../imagenes/oficina.bmp);
  background-position-x: left;
  background-position-y: top;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  height: 30vh; }

.vmg-div-seg {
  width: 756px; }

.hero-div-seg {
  margin: 0 0 0 5%;
  padding: 0;
  color: #444444;
  font-size: 20px;
  text-align: left; }

.card-style-custom {
  color: #212529;
  background-color: #e1e7e6;
  border: #222222;
  border-radius: 8px;
  border-style: solid; }

.hero-consultoria {
  width: 100%;
  background: url(../imagenes/oficina.bmp) top left;
  background-image: url(../imagenes/oficina.bmp);
  background-position-x: left;
  background-position-y: top;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  height: 50vh; }

.vmg-div-consultoria {
  width: 756px; }

.hero-vmg-consultoria {
  margin: 0 0 0 5%;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #444444;
  font-size: 50px;
  text-align: left; }

.hero-div-consultoria {
  margin: 0 0 0 5%;
  padding: 0;
  color: #444444;
  font-size: 20px;
  text-align: left; }

#news-slider {
  margin-top: 80px; }

.post-slide {
  background: #fff;
  margin: 20px 15px 20px;
  border-radius: 15px;
  padding-top: 1px;
  box-shadow: 0px 14px 22px -9px #bbcbd8; }
  .post-slide .post-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: -12px 15px 8px 15px;
    margin-left: -10px; }
  .post-slide img {
    width: 100%;
    height: auto;
    transform: scale(1, 1);
    transition: transform 0.2s linear; }
  .post-slide:hover .post-img img {
    transform: scale(1.1, 1.1); }
  .post-slide .over-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
    transition: all 0.50s linear; }
    .post-slide .over-layer i {
      position: relative;
      top: 45%;
      text-align: center;
      display: block;
      color: #fff;
      font-size: 25px; }
  .post-slide:hover .over-layer {
    opacity: 1;
    text-decoration: none; }
  .post-slide .post-content {
    background: #fff;
    padding: 2px 20px 40px;
    border-radius: 15px; }
  .post-slide .post-title {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.3s ease 0s; }
  .post-slide .post-description {
    line-height: 24px;
    color: #808080;
    margin-bottom: 25px; }
    .post-slide .post-description .bold {
      font-weight: bold; }
  .post-slide .post-date {
    color: #a9a9a9;
    font-size: 14px; }
    .post-slide .post-date i {
      font-size: 20px;
      margin-right: 8px;
      color: #CFDACE; }
  .post-slide .read-more {
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase; }
    .post-slide .read-more:hover {
      background: blue;
      text-decoration: none;
      color: #fff;
      box-shadow: 5px 5px rgba(0, 0, 0, 0.24); }

.owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px; }
  .owl-controls .owl-buttons .owl-prev {
    background: #fff;
    position: absolute;
    top: -13%;
    left: 15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s; }
    .owl-controls .owl-buttons .owl-prev:after {
      content: "\f104";
      font-family: FontAwesome;
      color: #333;
      font-size: 30px; }
  .owl-controls .owl-buttons .owl-next {
    background: #fff;
    position: absolute;
    top: -13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s; }
    .owl-controls .owl-buttons .owl-next:after {
      content: "\f104";
      font-family: FontAwesome;
      color: #333;
      font-size: 30px;
      content: "\f105"; }

@media only screen and (max-width: 1280px) {
  .post-slide .post-content {
    padding: 0px 15px 25px 15px; } }

@media (max-width: 758px) {
  .hero-consultoria {
    height: 20vh; } }

.hero-capacitacion {
  width: 100%;
  background: url(../imagenes/oficina.bmp) top left;
  background-image: url(../imagenes/oficina.bmp);
  background-position-x: left;
  background-position-y: top;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  height: 30vh; }

.vmg-div-capacitacion {
  width: 500px; }

.hero-div-capacitacion {
  margin: 0 0 0 5%;
  padding: 5%;
  color: #444444;
  font-size: 20px;
  text-align: left; }

.read-more {
  padding: 7px 20px;
  font-size: 12px;
  background: #2196F3;
  color: #ffffff;
  box-shadow: 0px 10px 20px -10px #1376c5;
  border-radius: 25px;
  text-transform: uppercase; }
  .read-more:hover {
    background: blue;
    text-decoration: none;
    color: #fff;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.24); }

.hero-cont {
  width: 100%;
  background: url(../imagenes/oficina.bmp) top left;
  background-image: url(../imagenes/oficina.bmp);
  background-position-x: left;
  background-position-y: top;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  height: 50vh; }

.vmg-div-contacto {
  width: 756px; }

.hero-vmg-contacto {
  margin: 0 0 0 5%;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #444444;
  font-size: 50px;
  text-align: left; }

.hero-div-contacto {
  margin: 0 0 0 5%;
  padding: 0;
  color: #444444;
  font-size: 20px;
  text-align: left; }

fieldset {
  margin: 2%;
  background-color: #d3e9ed; }
  fieldset legend {
    text-align: center;
    margin: 0;
    font-size: large; }
  fieldset form {
    display: flex;
    flex-direction: column;
    justify-content: left; }
    fieldset form #nombre, fieldset form #apellido, fieldset form #empresa, fieldset form #cargo, fieldset form #telefono, fieldset form #mail {
      margin: 5px 5px 5px 5%;
      padding: 0;
      width: 25%;
      display: inline;
      text-align: left; }
    fieldset form .input-label-contacto {
      display: flex;
      flex-direction: row; }
    fieldset form .etiqueta {
      padding: 5px; }
    fieldset form textarea {
      margin: 0 5%;
      padding: 0;
      width: 50%;
      height: 100px; }
    fieldset form #terms {
      margin: 5px 3px 5px 5%;
      padding: 0;
      width: auto; }
    fieldset form .enviar {
      border-radius: 4px;
      margin: 20px 14%;
      width: 7%;
      text-align: center;
      border: 2px solid #090808e9;
      color: #222222;
      background-color: #a1a0a071;
      box-shadow: 5px 5px #d3e9ed;
      transition: all 500ms; }
      fieldset form .enviar:hover {
        background-color: blue;
        color: #fff;
        border: #fff;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.24); }

@media (max-width: 758px) {
  .hero-cont {
    height: 25vh; }
  fieldset form #nombre, fieldset form #apellido, fieldset form #empresa, fieldset form #cargo, fieldset form #telefono, fieldset form #mail {
    width: 60%; }
  fieldset form form textarea {
    width: 80%; }
  fieldset form .enviar {
    width: 20%; } }
