*{
    font-family: 'Oswald', sans-serif;
}
html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 90px;
    padding: 0;
}

/* =======top bar======*/
#topbar {
    background: #444444;
    height: 40px;
    font-size: 14px;
    color: #fff;
    padding: 0;
    display: flex ;
    flex-direction: row;
    justify-content: left ;   
}

@media (max-width:756px) {
    #topbar {
        height: 80px;
        flex-direction: column; 
    }
}
.topbar-element {
    margin: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;

}




.topbar-element a {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
}
/* =======top bar======*/

/* =======Header======*/
header {
    display: contents;

    
}

.navbar-custom{
    flex-grow: 0.2;
    justify-content: center;
    flex-basis: 100%;
    display: flex;
    justify-content: left;
    
}

@media (max-width:756px) {
    .navbar-custom {
    justify-content: right;
    }
}

.navbar-menu-custom {
    text-align: right;
}


#contacto {
    background-color: #444444;
    color: #fff;
}
#capacitacion {
    background-color: #444444;
    color: #fff;
}
#consultoria {
    background-color: #444444;
    color: #fff;
}
#seg-ind {
    background-color: #444444;
    color: #fff;
}
#inicio {
    background-color: #444444;
    color: #fff;
}



/* =======Header======*/


/* =======Main Home======*/
main {
    margin: 0;
    padding: 0;
 /*   height: 1000px; */
    background: rgb(225, 231, 230);
    
}


.carousel-stilo {
    max-height: 680px;
    overflow: hidden;
    /* align-content:end; */
}

@media (max-width:756px) {
    .carousel-stilo {
        max-height: 320px;
    }
}

@media (min-width:1280px) {
    .carousel-stilo {
        max-height: 780px;
    }
}
.carousel-item {
    text-align: center;
}

.carousel-caption-custom {
    bottom: 20vw;
}





.hero-vmg-inicio {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #444444;
    font-size:50px;
    text-align: left;
}
.hero-div-inicio {
    margin: 0;
    padding: 0;
    color: #444444;
    font-size: 20px;
    text-align:left;
    
}

.grilla {
    display: grid;
    
    grid-template-areas: 
        "presentacion-somos presentacion-somos"
        "presentacion-foto-actividades hacemos";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    transition: all 500ms;
}

/*.grilla:hover {
    grid-template-rows: 300px 300px
}*/

@media (max-width:756px) {
    .grilla{
    grid-template-areas: 
    "presentacion-somos"
    "presentacion-foto-actividades"
    "hacemos";
    grid-template-columns: 100%;
    grid-template-rows: auto 200px auto
    }
}




.presentacion-foto-actividades {
    grid-area: presentacion-foto-actividades;
    margin: 0 0 0 20px;
}



@media (max-width:756px) {
    .presentacion-foto-actividades {
        margin: 10px 20px 10px 20px;
    }
}
.presentacion-foto-actividades img{
    max-height: 100%;
    object-fit: cover;
    overflow: hidden;     
}      


.presentacion-somos {
    grid-area: presentacion-somos;
    margin: 20px;
    border: #222222;
    border-radius: 8px;
    border-style: solid;
    padding: 20px;
    font-size: 18px;
    transition: all 500ms;
}


.presentacion-somos:hover {
    font-size: 24px;
    box-shadow: 10px 10px #222222;
    background-color: #dfeef9;
        
}
@media (min-width:1500px) {
    .presentacion-somos:hover {
        font-size: 26px;
        box-shadow: 10px 10px #222222;
        background-color: #dfeef9;
    }
}

@media (max-width:756px) {
    .presentacion-somos:hover{
        box-shadow: 10px 10px #222222;
        background-color: #dfeef9;
        font-size: 18px;
    }
}


.sobre-nosotros {
    font-weight: bold;
}
.hacemos {
    grid-area: hacemos;
    margin: 0 20px 0 0;
    border: #222222;
    border-radius: 8px;
    border-style: solid;
    padding: 10px 20px 20px 20px;
    font-size: 18px;
    transition: all 500ms;
}

.hacemos:hover {
    font-size: 24px;
    box-shadow: 10px 10px #222222;
    background-color: #dfeef9;
    
}



@media (max-width:756px) {
    .hacemos{
            margin: 20px;
            border: #222222;
            border-radius: 8px;
            border-style: solid;
            padding: 20px;
            font-size: 18px;
            transition: all 500ms;

    }
}

@media (min-width:1500px) {
    .hacemos{
            margin: 0 20px 0 0;
            border: #222222;
            border-radius: 8px;
            border-style: solid;
            padding: 20px;
            font-size: 22px;
            transition: all 500ms;

    }
}
@media (min-width:1500px) {
    .hacemos:hover {
        font-size: 26px;
        box-shadow: 10px 10px #222222;
        background-color: #dfeef9;
    }
}


@media (max-width:756px) {
    .hacemos:hover {
        box-shadow: 10px 10px #222222;
        background-color: #dfeef9;
        font-size: 18px; 
    }
}

.presentacion {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.presentacion__foto-actividades {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 350px;
}
.presentacion__foto-actividades img {
    margin: 20px;
    width: 50%;
}
.presentacion__foto-actividades p {
    margin: 20px;
    width: 50%;
    border: #222222;
    border-style: solid;
    padding: 20px;
}


/* =======Main Home Seg Industrial======*/
#seg-industrial {
    margin: 0;
    padding: 0;
 /*   height: 2300px; */
    background: rgb(225, 231, 230);
}
 /*#programa-de-salud, #analisis-de-riesgo , #subcontratos, #productos-quimicos, 
#permisos-de-trabajo, #proteccion-de-maquinas, #cambios-de-ingenieria, #requisitos-legales, #sistemas-gestion */ {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    border: #222222;
    border-style: solid;
    padding: 20px;

}
 /*#programa-de-salud img,/* #analisis-de-riesgo img , #subcontratos img, #productos-quimicos img,
#permisos-de-trabajo img, #proteccion-de-maquinas img, #cambios-de-ingenieria img, #requisitos-legales img, #sistemas-gestion img */ {
    width: 25%;
    margin: 0 20 0 0;
}
.titulo-texto {
    display: flex;
    flex-direction: column;
}
/* =======Main Consultoria======*/
.hero-consultoria {
    width: 100%;
    height: 50vh;
    background: url(../imagenes/control-seg.bmp) top left;
        background-image: url(../imagenes/control-seg.bmp);
        background-position-x: left;
        background-position-y: top;
        background-size: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}
/* =======formulario Capacitacion======*/
.hero-capacitacion {
    width: 100%;
    height: 30vh;
    background: url(../imagenes/oficina.bmp) top left;
        background-image: url(../imagenes/oficina.bmp);
        background-position-x: left;
        background-position-y: top;
        background-size: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;

}

.hero-div-capacitacion {
    margin: 0 0 0 5%;
    padding: 5%;
    color: #444444;
    text-align:left;
}

.vmg-div-capacitacion {
    width: 500px;
}


/* =======formulario Contactos======*/
.hero-cont {
    width: 100%;
    height: 50vh;
    background: url(../imagenes/oficina.bmp) top left;
        background-image: url(../imagenes/oficina.bmp);
        background-position-x: left;
        background-position-y: top;
        background-size: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;

}

@media (max-width:756px) {
    .hero-cont {
        height: 25vh;
            
        
    }
}

.vmg-div-contacto {
    width: 756px;
}

.hero-vmg-contacto {
    margin: 0 0 0 5%;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #444444;
    font-size:50px;
    text-align: left;
}
.hero-div-contacto {
    margin: 0 0 0 5%;
    padding: 0;
    color: #444444;
    font-size: 20px;
    text-align:left;
}




fieldset {
    margin: 2%;
    background-color:rgb(211, 233, 237);
}
legend {
    text-align: center;
    margin: 0;
    font-size: large;
}

form {
    display: flex;
    flex-direction: column;
    justify-items: left;
}
#nombre, #apellido, #empresa, #cargo, #telefono, #mail {
    margin: 5px 5px 5px 5% ;
    padding: 0;
    width: 25%;
    display: inline;
    text-align: left;
}

@media (max-width:756px) {
    #nombre, #apellido, #empresa, #cargo, #telefono, #mail {
        width: 60%; 
    }
}
.input-label-contacto {
    display: flex;
    flex-direction: row;
    
}
.etiqueta {
    padding: 5px; 
}

form textarea {
    margin: 0 5%;
    padding: 0;
    width: 50%;
    height: 100px;
}

@media (max-width:756px) {
    form textarea {
        width: 80%; 
    }
}

#terms {
    margin: 5px 3px 5px 5%;
    padding: 0;
    width: auto;
}
.enviar {
    border-radius: 4px;
    margin: 20px 14%;
    width: 7%;
    text-align: center;
    border: 2px solid #090808e9;
    color: #222222;
    background-color: #a1a0a071;
    box-shadow: 5px 5px rgb(211, 233, 237);
    transition: all 500ms;
    
    
 
}
@media (max-width:756px) {
    .enviar {
        width: 20%; 
    }
}

.enviar:hover {
    background-color: blue;
    color: #fff;
    border: #fff;
    box-shadow: 5px 5px rgba(0,0,0,0.24);
}




/* =======Seguridad Industrial======*/

.card-style-cudtom {
    color: #000;
    background-color: #d4d0d0;
    border: #000;
    border-style: solid;
    border-radius: 8px;
}

/* =======Footer======*/

footer {
    height: 80px;
    width: 100%;
    padding:  0;
    color: #ffff;
    font-size: 14px;
    background: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    z-index: 200;
    
    
}
#company {
    margin: 0;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hys {
    margin: 0px;
   padding-bottom: 2%;
}
#since {
    margin: 0px;
    font-style: italic;
    font-size: medium;
}
.arrow_upward {
    margin: 0;
    height: 80px;
    width: 48px;
    font-size: 48px;
}
 footer div a.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48;
    font-size: 48;
    padding-top: 10;
    text-decoration: none;
    color: #ffff;
}
.aux {
    margin: 0;
    height: 80px;
    width: 48px;
    color: #222222;
}
/* =======Footer======*/
