header {
    display: contents;
}
.navbar-custom{
    flex-grow: 0.2;
    justify-content: center;
    flex-basis: 100%;
    display: flex;
    justify-content: left;
    
}
.navbar-menu-custom {
    text-align: right;
}
@media (max-width:$cel) {
    .navbar-custom {
    justify-content: right;
    }
}

@each $nav-menu in #contacto, #capacitacion, #consultoria, #seg-ind, #inicio {
    #{$nav-menu}{
        background-color: $gris;
        color: $blanco;
    }
}




