$blanco: #fff;
$gris: #444444;
$main-background: rgb(225, 231, 230);
$border-color: #222222;
$main-text-color: #212529;
$background-color-hover: #dfeef9;
//FORM
$form-background-color: rgb(211, 233, 237);
//BOTON ENVIAR
$btn-enviar-color: #222222;
$btn-background-color: #a1a0a071;
$btn-border-color: #090808e9;
$btn-box-shadow-color: rgb(211, 233, 237);
$btn-hover-background-color: blue;
$btn-hover-color: #fff;
$btn-hover-border-color: #fff;
$btn-hover-box-shadow-color: rgba(0,0,0,0.24);

